<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo center">Info</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/tabela">Tabela</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/tabela">Tabela</a>
  </li>
</ul>
